/* common */
button {
  border: none;
  background-color: var(--color-purple);
  color: white;
}

/* banner */
.banner {
  height: 130px;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  background-image: url('../images/paint.png');
  background-repeat: no-repeat;
  background-size: 600px 120px;
  background-position: center;
}

.banner h1 {
  margin-top: 15px;
  text-align: center;
  font-size: 80px;
}

/* search */
.search {
  position: relative;
  text-align: center;
  transition: transform .3s ease;
}

.search input {
  width: 500px;
  height: 40px;
  padding: 10px 100px 10px 30px;
  border: 1px solid var(--color-purple);
  border-radius: 30px;
}

.search input:hover{
  transform: translate(3px, 3px);
  filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.161));
}

#searchIcon {
  position: absolute;
  top: 20px;
  right: 310px;
  cursor: pointer;
}

/* write */
.write {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.write p {
  margin-top: 5px;
  margin-bottom: 25px;
}

.write button {
  width: 180px;
  height: 60px;
  padding: 12px 20px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* list */
.list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.item {
  width: 49%;
  height: 440px;
	margin-bottom: 40px;
	border-bottom: 1px solid #cdcdcd;
}

.itemImage {
  width: 100%;
	height: 350px;
}

.itemImage a img {
  width: 100%;
  height: 320px;
	object-fit: cover;
}

.itemImage:hover{
  transform: scale(1.05);
  transition: .3s ease;
}

.itemDesc {
  overflow: hidden;
  white-space: nowrap;
}

.itemDesc h1 {
  display: inline-block;
  font-size: 32px;
  margin-bottom: 20px;
}

.itemDesc p {
  font-size: 15px;
  color: #737373;
}